
DZ_C#_SEM2\Task10\bin\*.*
DZ_C#_SEM2\Task10\obj\*.*
DZ_C#_SEM2\Task10\Task10.csproj

DZ_C#_SEM2\Task13\bin\*.*
DZ_C#_SEM2\Task13\obj\*.*
DZ_C#_SEM2\Task13\Task13.csproj

DZ_C#_SEM2\Task15\bin\*.*
DZ_C#_SEM2\Task15\obj\*.*
DZ_C#_SEM2\Task15\Task15.csproj